/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  color: #1e293b;
  font-size: 20px;
  font-weight: bold;
}

.form-img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 1;
}

.para {
  color: #475569;
  font-size: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-name {
  color: #1e293b;
  margin-bottom: 10px;
}

.textarea {
  color: #1e293b;
  margin-bottom: 10px;
}

.add-button {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  background-color: #0284c7;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  border: white;
}

.comments-image {
  max-height: 150px;
  max-width: 300px;
  order: 0;
}

.comments-count-container {
  border-top: 1px solid #7e858e;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.comments-count {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  padding: 5px;
  background-color: #0284c7;
  color: white;
  font-size: 10px;
}

.comments-para-ul {
  color: #1e293b;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 10px;
}

.unOrder-comments-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
}

@media (min-width: 768px) {
  .form-img-container {
    flex-direction: row;
  }

  .form-container {
    flex-direction: column;
    order: 0;
  }

  .comments-image {
    height: 500px;
    width: 900px;
    margin-left: 70px;
    padding-left: 70px;
    order: 1;
    margin-bottom: 10px;

    align-self: flex-end;
  }
}
